<script src="../bower_components/ace-builds/src-noconflict/mode-javascript.js" type="text/javascript"></script>

<script src="./highlight.js" type="text/javascript"></script>
<script src="./mode.js" type="text/javascript"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/ace-widget/ace-widget.html">
    
<dom-module id="cucaracha-editor">
  <template>
  <style>
    :host {
      display: block;
      width: 100%;
    }
    </style>
    <ace-widget
        id="ace"
        mode="ace/mode/cucaracha"
        theme="ace/theme/chrome"
        font-size="18"
        tab-size="4"
        minlines="10"
        maxlines="10"
        initial-focus
    >
fun main() { 
  if (not 5 == 2 + 3 * 2 and 2 * (3 + 3) == 12) { 
    x := 1
  } 
  putChar(x)
  return x
}

    </ace-widget>
    <div style="top: 53%; position:absolute;">
        <input type="button"  value="Parsear" on-click="runCode"></input>
        <p id="result"></p>    
    </div>
    
  </template>
  <script src="./editor.js" type="text/javascript"></script>
</dom-module>